/* This is header site color */
.header {
    color: navy;
}
/* This is the section site color */
.section {
    background-color: lightblue;
}
#Email {
    background-color: bisque;
}
#GitHub {
    background-color: palegoldenrod;
}
#Portfolio {
    background-color: khaki;
}