.header {
    color: navy;
}
.section {
    background-color: lightblue;
}
#Email {
    background-color: bisque;
}
#GitHub {
    background-color: palegoldenrod;
}
#Portfolio {
    background-color: khaki;
}